<ul class="list-group list-group-horizontal-md">
    <li class="list-group-item">
        <%= link_to t('coins'), coins_path %>
    </li>
    <li class="list-group-item">
        <%= link_to t('mining_types'), mining_types_path %>
    </li>
</ul>

